<mat-sidenav-container style="min-height: 100%;" fxFlex>
  <mat-sidenav [opened]="true" mode="side">
    <mat-list>
      <mat-list-item *ngFor="let card of cards">
        <button mat-icon-button matTooltip="{{card.input.name.value}}" [matTooltipPosition]="'right'"
                [matTooltipClass]="'dash-tooltip-class'">
          <mat-icon style="margin: auto;" class="fa" ngClass="{{card.input.iconClass.value}}"></mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-grid-list [cols]="cols | async">
      <mat-grid-tile *ngFor="let card of cards"
                     [colspan]="card.input.cols.value | async"
                     [rowspan]="card.input.rows.value | async">
        <app-dashboard-cards-spawner [card]="card"></app-dashboard-cards-spawner>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
