@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.mat-drawer-container {
  background: #939393;
}

mat-card-actions {
  margin-left: 24px !important;
}

.dash-tooltip-class {
  font-size: 16px;
}
