

 <mat-drawer-container class="example-container" autosize style="padding: 20px; margin: 20px    ;">
   <mat-drawer #drawer class="example-sidenav" mode="side">
      <button mat-button (click)="toDashboard()">dashboard demo</button>

     <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
     <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
       Toggle extra text
     </button> -->
   </mat-drawer>

   <div class="example-sidenav-content">
     <button type="button" mat-button (click)="drawer.toggle()">
       Open Menu
     </button>
   </div>

 </mat-drawer-container>
